### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
**/build/
!src/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### My list ###
hibernate.cfg.xml
application.properties
logback-spring.xml
node_modules/
target